<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Apply for a job with us",   apply_path %></li>
      <li><%= link_to "Frequently asked questions", faq_path %></li>
    </ul>
  </nav>
</footer>