    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "justsmurf", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-center">
            <li><%= link_to "ACCOUNT", account_path %></li>
            <li><%= link_to "CHECKOUT", checkout_path %></li>
            <li><%= link_to "ITEMS", items_new_path %></li>
          </ul>
        </nav>
      </div>
    </header>